<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Todolist</title>
  </head>
  <body>
    <div class="box" id="heading">
    <% if(todayIs == 6 || todayIs == 0){ %>
      <h1>What is  your plan this <%= todayIs %>?</h1>
    <% }else{ %>
    <h1>What is your plan this <%= todayIs %>?</h1>
    <% } %>
    </div>
  <div class="box">
    <% for(var i=0; i<newListItem.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>
      <%= newListItem[i] %>
      </p>
    </div>
      <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="add new task">
      <button type = "submit" name = "button" class="myBtn">+</button>
    </form>
  </div>


  </body>
</html>
